.vscode/
Lesson2_Reading_buttons_and_controlling_LEDS/.vscode/
Lesson2_Reading_buttons_and_controlling_LEDS/build/
Lesson2_Reading_buttons_and_controlling_LEDS/README.rst

Lesson3_Create_nRF_Connect_App_from_Scratch/.vscode/
Lesson3_Create_nRF_Connect_App_from_Scratch/build/